@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@font-face {
  font-family: Noto Sans;
  src: url("../src/assets/fonts/NotoSans-Regular.ttf");
} 

@theme {
  --font-noto: Noto Sans, sans-serif;
}

/* ซ่อน scrollbar */
::-webkit-scrollbar {
  display: none; /* สำหรับ Chrome, Safari */
}

* {
  scrollbar-width: none; /* สำหรับ Firefox */
  -ms-overflow-style: none; /* สำหรับ IE, Edge เก่า */
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}

.spinner {
   position: absolute;
   width: 9px;
   height: 9px;
}

.spinner div {
   position: absolute;
   width: 50%;
   height: 150%;
   background: #474bff;
   transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
   animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
   --delay: 0.1;
   --rotation: 36;
   --translation: 150;
}

.spinner div:nth-child(2) {
   --delay: 0.2;
   --rotation: 72;
   --translation: 150;
}

.spinner div:nth-child(3) {
   --delay: 0.3;
   --rotation: 108;
   --translation: 150;
}

.spinner div:nth-child(4) {
   --delay: 0.4;
   --rotation: 144;
   --translation: 150;
}

.spinner div:nth-child(5) {
   --delay: 0.5;
   --rotation: 180;
   --translation: 150;
}

.spinner div:nth-child(6) {
   --delay: 0.6;
   --rotation: 216;
   --translation: 150;
}

.spinner div:nth-child(7) {
   --delay: 0.7;
   --rotation: 252;
   --translation: 150;
}

.spinner div:nth-child(8) {
   --delay: 0.8;
   --rotation: 288;
   --translation: 150;
}

.spinner div:nth-child(9) {
   --delay: 0.9;
   --rotation: 324;
   --translation: 150;
}

.spinner div:nth-child(10) {
   --delay: 1;
   --rotation: 360;
   --translation: 150;
}

@keyframes spinner-fzua35 {
   0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
   }

   50% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
   }
}

.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}

.btn-primary {
    @apply w-full text-sm font-medium text-white bg-violet-500 shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:bg-purple-600/15 hover:text-purple-600;
}

.card {
  @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50;
}

.card-btn {
  @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 hover:text-purple-500 
  bg-gray-50 hover:bg-purple-50 px-4 py-1.5 rounded-b-lg border-t border-gray-200/50 cursor-pointer
}

.add-btn {
    @apply flex items-center gap-1.5 text-xs md:text-sm font-medium text-purple-600 
           whitespace-nowrap bg-purple-50 border border-purple-100 rounded-lg 
           px-4 py-2 cursor-pointer hover:bg-purple-100 transition-colors;
}

.add-btn-fill {
    @apply text-white bg-primary;
}
